.app{
  background:#fafafa;
  height:100vh;
}
.app__header{
  background:white;
  padding:10px;
  border-bottom:1px solid lightgray;
  box-shadow:3px 2px 4px -2px rgba(0,0,0,0.32);
  
}
.app__image{
  height:70px;
  cursor:pointer;
  object-fit:contain;
}